.mv-navbar.bg-dark {
    background-color:#810000 !important;
}


/* Pour le bbcode spoiler */

.spoiler-hidden {
    background-color :black;
    color:black;
}

.spoiler-hidden:hover {
    cursor:pointer;
    border:1px solid black;
}

.mv-navbar.bg-dark {
    background-color:#810000 !important;
}


/* Pour le bbcode spoiler */

.spoiler-hidden {
    background-color :black;
    color:black;
}

.spoiler-hidden:hover {
    cursor:pointer;
    border:1px solid black;
}

/* Fix pour élement de couleur entre les balises [spoiler][/spoiler] */
.spoiler-hidden span {
	color:black !important;
}

.spoiler-shown {
	background-color:#D3D3D3;
}

/* Fix pour élement de couleur entre les balises [spoiler][/spoiler] */
.spoiler-hidden span {
	color:black !important;
}

.spoiler-shown {
	background-color:#D3D3D3;
}


/* Style pour les news */
.news-preview {
    border:1px solid black;
    
}

.news-preview-text {
    margin:10px;
}
/*
.carousel-control-prev {
  left: 25px !important;
}

.carousel-control-next {
  right: 25px !important;
}
*/
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
