/* Pour le header */
.mv-navbar.bg-dark {
    background-color:#810000 !important;
}

.mv-header {
    background-image: url(../ressources/img/header_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
 }

 .header-waifu {
   max-height: 150px;
 }


/* Pour le bbcode spoiler */

.spoiler-hidden {
    background-color :black;
    color:black;
}

.spoiler-hidden:hover {
    cursor:pointer;
    border:1px solid black;
}

/* Fix pour élement de couleur entre les balises [spoiler][/spoiler] */
.spoiler-hidden span {
	color:black !important;
}

.spoiler-shown {
	background-color:#D3D3D3;
}


/* Style pour les news */
.news-preview {
    border:1px solid black;
    
}

.news-preview-text {
    margin:10px;
}

/*
.carousel-control-prev {
  left: 25px !important;
}

.carousel-control-next {
  right: 25px !important;
}
*/
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/* Pour les commentaire */

.comment-widgets {
  border:1px solid black;

}


.round img {
  border-radius: 50%;
}


/* Pour la page de login */

.mv-login-form {
  margin:20px;
}



/* Pour la page de review  */

.mv-review {
  border:1px solid black; 
  padding:10px;
  margin: 5px;
}

.avatar-review {
  width: 150px;
  height:150px;
  display:inline-block;
}

.avatar-review h4, .avatar-review h5 {
  text-align: center;
}



/* Pour la page series */

.mv-series-container img {
  height:300px;
	width:193px;
}

.mv-series-container h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-group {
  margin:10px;
}

.mv-series-row {
  margin-bottom:10px;
}